# Ignore node_modules directory
node_modules/

# Ignore npm package lock file
package-lock.json

# Ignore compiled files and build artifacts
dist/
build/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore macOS system file
.DS_Store
